<%- include('partials/header', { 
  title: 'Sutta·Sutta',
  description: ''
}); %>
    <main id="main" class="index" data-event="index">
      <div class="content container">
        <ul>
          <%
          var nikayaKeys = Object.keys(content);
          var nikaya = {};
          for (var i=0; i<nikayaKeys.length; i++) { 
            nikaya = content[nikayaKeys[i]];
            if (nikaya) { 
              %>
              <li class="row<%= nikaya.parent ? ' parent' : '' %>">
                <div class="col-md-4 box">
                  <p><a class="pali" href="#"><%= nikaya.pali %></a></p>
                </div>
                <div class="col-md-4 box">
                  <p><a class="eng" href="#"><%= nikaya.eng %></a></p>
                </div>
                <div class="col-md-4 box">
                  <p><a class="chi" href="#"><%= nikaya.chi %></a></p>
                </div>
                <%
                if (nikaya.parent) { 
                  %>
                  <ul class="col-sm-12">
                    <%
                    var suttaKeys = Object.keys(nikaya);
                    var sutta = {};
                    for (var j=0; j<suttaKeys.length; j++) {
                      sutta = nikaya[suttaKeys[j]];
                      if (sutta.key) { 
                        %>
                        <li class="row<%= sutta.parent ? ' parent' : '' %>">
                          <div class="col-md-4 box">
                            <p><a class="pali<%= sutta.active ? '' : ' inactive' %>" href="<%= sutta.active ? sutta.link : '#' %>"><%= sutta.pali %></a></p>
                          </div>
                          <div class="col-md-4 box">
                            <p><a class="eng<%= sutta.active ? '' : ' inactive' %>" href="<%= sutta.active ? sutta.link : '#' %>"><%= sutta.eng %></a></p>
                          </div>
                          <div class="col-md-4 box">
                            <p><a class="chi<%= sutta.active ? '' : ' inactive' %>" href="<%= sutta.active ? sutta.link : '#' %>"><%= sutta.chi %></a></p>
                          </div>
                          <%
                          if (sutta.parent) { 
                            %>
                            <ul class="col-sm-12">
                              <%
                              var subsuttaKeys = Object.keys(sutta);
                              var subsutta = {};
                              for (var k=0; k<subsuttaKeys.length; k++) { 
                                subsutta = sutta[subsuttaKeys[k]];
                                if (subsutta && subsutta.key) { 
                                  %>
                                  <li class="row">
                                    <div class="col-md-4 box">
                                      <p><a class="pali<%= subsutta.active ? '' : ' inactive' %>" href="<%= subsutta.active ? sutta.link : '#' %>"><%= subsutta.pali %></a></p>
                                    </div>
                                    <div class="col-md-4 box">
                                      <p><a class="eng<%= subsutta.active ? '' : ' inactive' %>" href="<%= subsutta.active ? sutta.link : '#' %>"><%= subsutta.eng %></a></p>
                                    </div>
                                    <div class="col-md-4 box">
                                      <p><a class="chi<%= subsutta.active ? '' : ' inactive' %>" href="<%= subsutta.active ? sutta.link : '#' %>"><%= subsutta.chi %></a></p>
                                    </div>
                                  </li>
                                  <% 
                                }
                              }
                              %>
                            </ul>
                            <%
                          }
                          %>
                        </li>
                        <% 
                      }
                    }
                    %>
                  </ul>
                  <%
                }
                %>
              </li>
              <% 
            }
          }
          %>
        </ul>
      </div>
    </main>
<%- include('partials/footer'); %>