<%
var title = '';
var description = ''
if (content[0] && content[1]) {
  // e.g. "DN3 / 長部三 : Ambaṭṭha Sutta / With Ambaṭṭha / 阿摩晝經 – Sutta·Sutta"
  title = content[0].pali + ' / ' + content[0].chi + ' : ' + content[1].pali + ' / ' + content[1].eng + ' / ' + content[1].chi_lit; + ' – Sutta·Sutta'
}
%>
<%- 
include('partials/header', {
  title: title,
  description: description
}); 
%>
  <main id="main" data-event="index">
    <div class="content container">
      <%
      if (content[0]) { 
        %>
        <div class="row no-hover">
          <div class="col-md-3 box">
            <p class="pali sutta-number"><%= content[0].pali %></p>
          </div>
          <div class="col-md-3 box d-none d-md-block">
            <p class="eng sutta-number"><%= content[0].eng %></p>
          </div>
          <div class="col-md-3 box d-none d-md-block">
            <p class="chi sutta-number"><%= content[0].chi %></p>
          </div>
          <div class="col-md-3 box">
            <p class="chi-lit sutta-number"><%= content[0].chi_lit %></p>
          </div>
        </div>
        <% 
      }

      if (content[1]) { 
        %>
        <div class="row no-hover">
          <div class="col-md-3 box">
            <h1 class="pali sutta-name"><%= content[1].pali %></h1>
          </div>
          <div class="col-md-3 box">
            <h1 class="eng sutta-name"><%= content[1].eng %></h1>
          </div>
          <div class="col-md-3 box d-none d-md-block">
            <h1 class="chi sutta-name"><%= content[1].chi %></h1>
          </div>
          <div class="col-md-3 box">
            <h1 class="chi-lit sutta-name"><%= content[1].chi_lit %></h1>
          </div>
        </div>
        <% 
      }

      if (content[2] && content[3]) { 
        %>
        <div class="row no-hover">
          <div class="col-md-3 box">
            <p class="pali sutta-translator d-none d-md-block"><%= content[2].pali %></p>
          </div>
          <div class="col-md-3 box">
            <p class="eng sutta-translator"><a href="<%= content[3].eng %>"><%= content[2].eng %></a></p>
          </div>
          <div class="col-md-3 box">
            <p class="chi sutta-translator"><a href="<%= content[3].chi %>"><%= content[2].chi %></a></p>
          </div>
          <div class="col-md-3 box">
            <p class="chi-lit sutta-translator"><a href="<%= content[3].chi_lit %>"><%= content[2].chi_lit %></a></p>
          </div>
        </div>
        <% 
      } else if (content[2]) { 
        %>
        <div class="row no-hover">
          <div class="col-md-3 box">
            <p class="pali sutta-translator"><%= content[2].pali %></p>
          </div>
          <div class="col-md-3 box">
            <p class="eng sutta-translator"><%= content[2].eng %></p>
          </div>
          <div class="col-md-3 box">
            <p class="chi sutta-translator"><%= content[2].chi %></p>
          </div>
          <div class="col-md-3 box">
            <p class="chi-lit sutta-translator"><%= content[2].chi_lit %></p>
          </div>
        </div>
        <% 
      }

      for (var i=4; i<content.length; i++) { 
        if (content[i]) {
          var numberClass = typeof content[i].pali === 'string' && content[i].pali.match(/^[0-9\.]+$/) ? ' number' : '';
          var paliQuoteClass = 
            typeof content[i].pali === 'string' ?
              ( content[i].pali.match(/^“‘/) ? ' double-single-quote' :
                content[i].pali.match(/^“/) ? ' double-quote' : 
                content[i].pali.match(/^‘/) ? ' single-quote' : '' ) : 
              '';
          var engQuoteClass = 
            typeof content[i].eng === 'string' ?
              ( content[i].eng.match(/^“‘/) ? ' double-single-quote' :
                content[i].eng.match(/^“/) ? ' double-quote' : 
                content[i].eng.match(/^‘/) ? ' single-quote' : '' ) : 
              '';
          var chiQuoteClass =
            typeof content[i].chi === 'string' ?
              ( content[i].chi.match(/^「/) ? ' single-quote' : 
                content[i].chi.match(/^『/) ? ' double-quote' : 
                content[i].chi.match(/^「『/) ? ' single-double-quote' : '' ) : 
              '';
          var chilitQuoteClass =
            typeof content[i].chi_lit === 'string' ?
              ( content[i].chi_lit.match(/^「/) ? ' single-quote' : 
                content[i].chi_lit.match(/^『/) ? ' double-quote' : 
                content[i].chi_lit.match(/^「『/) ? ' single-double-quote' : '' ) : 
              '';

          %>
          <div class="row<%= numberClass ? ' no-hover' : '' %>">
            <div class="col-md-3 box">
              <p class="pali<%= numberClass %><%= paliQuoteClass %>"><%= content[i].pali %></p>
            </div>
            <div class="col-md-3 box<%= numberClass ? ' d-none d-md-block' : '' %>">
              <p class="eng<%= numberClass %><%= engQuoteClass %>"><%= content[i].eng %></p>
            </div>
            <div class="col-md-3 box<%= numberClass ? ' d-none d-md-block' : '' %>">
              <p class="chi<%= numberClass %><%= chiQuoteClass %>"><%= content[i].chi %></p>
            </div>
            <div class="col-md-3 box<%= numberClass ? ' d-none d-md-block' : '' %>">
              <p class="chi-lit<%= numberClass %><%= chilitQuoteClass %>"><%= content[i].chi_lit %></p>
            </div>
          </div>
          <% 
        }
      }
      %>
    </div>
  </main>
<%- include('partials/footer'); %>
